[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"mega.py" = "*"
transmission-clutch = "*"
python-dotenv = "*"
pymongo = "*"
dnspython = "*"
nltk = "*"
pydictionary = "*"
parse-torrent-name = "*"
pronouncing = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3"
