[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"mega.py" = "*"
transmission-clutch = "*"
python-dotenv = "*"
pymongo = "*"
dnspython = "*"
pydictionary = "*"
nltk = "*"
parse-torrent-name = "*"
pronouncing = "*"
pexpect = "*"
celery = "*"

[dev-packages]

[requires]
python_version = "3.8"
